# Gradle files
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# Android Studio
.idea/
*.iml

# User-specific files
local.properties
*.swp

# Logs
*.log

# Temporary files
*.bak
*.swp
*.tmp

# Jetpack Compose and Kotlin-specific
build/generated/
.caches/
**/build/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Android-specific
*.apk
*.ap_
*.dex
*.class
*.log
